// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";


#masthead {
	background: $white;

	.site-branding {
		padding-top: 1.5em;

		@include mq( $from: $small ) {
			padding-top: 5em;	
		}
		
	}

	.site-title {
		text-align: center;

		a {
			display: inline-block;
		}
	}

	.site-description {
		text-align: center;
		font-family: 'Domine', 'Droid Serif', Georgia, serif;
		font-size: 1.25em;
	}

	#logo {
		max-width: 10em;
		width: 90%;
	}
}

#main {
	padding-left: 0.5em;
	padding-right: 0.5em;

	@include mq( $from: $small ) {
		padding-left: 1em;
		padding-right: 1em;
	}

	@include mq( $from: $large ) {
		padding-left: 0;
		padding-right: 0;
	}
}


#colophon {
	
	.billionaires {
		margin-left: auto;
		margin-right: auto;
		width: 15em;
		text-align: center;
		margin-bottom: 4em;
	}

	svg {
		max-width: 100%;
	}
	#billionaires {
		fill: $blue;
	}

	.paid-for {
		border: 1px solid $black;
		padding: .5em;
		margin: inherit auto;
		width: 90%;
		max-width: 25em;
		text-align: center;

		.fa-heart {
			color: $red;
		}
	}
}

.sidebar-toggle {
	display: none;
}

@include mq( $until : $medium ) {

	#secondary {
		position: fixed;
		background: $red;
		width: 5px;
		width: 90%;
		left: 0;
		height: 100vh;
		top: 0;
		margin: 0;
		transition: transform 250ms linear;
		border-right: 0px solid $blue;
		transform: translateX(-99%);

		&.open {
			width: 90%;
			border-left-width: 5px;
			transform: translateX(0);

			.sidebar-toggle {
				right: auto;
				background: $blue;
			}

		}

		.sidebar-toggle {
			display: block;
			box-shadow: none;
			font-size: 1em;
			border: none;
			border-radius: 0;
			background: $red;
			font-family: 'FontAwesome';
			position: fixed;
			bottom: 1em;
			right: 0;
			padding: .5em;
			z-index: 2;
			color: $white;
			right: -5em;
			cursor: pointer;

			.fa {
				margin-left: .5em;
				margin-top: 0;
			}
		}
	}
}

